html{
cursor: none;

}


.feed{

	font-family: Arial Black;
	font-size: 12vw;
	margin-top: 40vh;
	width: 100%;
	text-align: center;
	-webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;

}


.interface {


	font-family: Arial Black;
    font-size: 2vw;
    text-align: center;
    position: absolute;
    z-index: 1;
    /* padding: 50px; */
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;
    display: inherit;
}


@media print {
  .interface {display: none;}
}