html{
font-family: Arial Black;
    font-size: 1vw;
    text-align: center;
    position: absolute;
    z-index: 1;
    /* padding: 50px; */
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility !important;
    display: inherit;
}



@media print {
  div { content: url(reg.svg) }
}